@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

main{
    width: 100%;
    height: 70vh;
    background-color: white;
    text-align: center;
    justify-content: center;
}

nav{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    background-color: white;
}

ul.transition{
    display: flex;
    position: absolute;
    z-index: 100000;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition li{
    transform: scaleY(0);
    background-color: white;
    width: 20%;
}

.nav-menu{
    transform: translateY(-100%);
}

.left-nav{
    width: 25%;

}

.left-nav a{
    position: fixed;
    top: 6.5vh;
    left: 1.5em;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.right-nav{
    width: 75%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: right;
}

.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.nav-links li{
    list-style: none;
    padding: 5px 5px;
}

.nav-links a:hover{
    color: #dab572;
    border-bottom: 1px solid #dab572;
}

.nav-links a{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.active a{
    color: #dab572;
    border-bottom: 1px solid #dab572;
}

.nav-active{
    transform: translateX(-18%);
}

.header{
    width: 100%;
    height: 70vh;
    background: url('img/order-bg.jpg');
    background-size: cover;
    text-align: left;
    align-items: center;
    justify-content: left;
    margin-bottom: 4em;
    object-fit: cover;
}


.bottom{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.btm-logo{
    width: 100%;
    text-align: center;
    align-items: center;
}

.btm-logo h3{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    font-weight: 200;
    color: white;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

.line-btm{
    height: 3px;
    background-color: #dab572;
    width: 40%;
    margin: 0 auto;
}

.btm-content{
    padding: 4em;
    display: flex;
    flex-direction: column;
}

.contact{
    width: 100%;
    text-align: center;
    padding-bottom: 3em;
}

.socials{
    width: 100%;
    text-align: center;
    padding-bottom: 3em;
}

.contact h4{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    color: #dab572;
}

.contact p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.socials h4{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    color: #dab572;
}

.socials p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 200;
    justify-content: space-around;
}

.social-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
}

box-icon:hover{
    cursor: pointer;
}

.transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 10000000;
}

.footer{
    background-color: #dab572;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 1em;
}

.company{
    width: 100%;
    padding: 1em;
    text-align: center;
    font-size: 16px;
}

.developer{
    width: 100%;
    padding: 1em;
    text-align: center;
    font-size: 16px;
}

.footer a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.page-title h1{
    font-size: 40px;
    padding-top: 37vh;
    padding-left: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

.page-title{
    width: 100%;
}

.order-info{
    width: 100%;
    background-color: white
}

.form-container a{
    text-decoration: none;
    color: #dab572;
}

.order-info h3{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1em;
    width: 70%;
    margin: 0 auto;
}

.order-info p{
    font-family: 'Marck Script', cursive;
    font-size: 22px;
    font-weight: 200;
    color: black;
    width: 80%;
    margin: 0 auto;
}

.line2{
    background-color: #dab572;
    height: 3px;
    width: 30%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

.form-container{
    width: 90%;
    background-color: whitesmoke;
    text-align: center;
    padding: 2em;
    padding-bottom: 2em;
    margin: 0 auto;
    margin-top: 2em;
}


.form-container h3{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.form-container p{
    font-family: 'Marck Script', cursive;
    font-size: 22px;
    font-weight: 200;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.personal-details{
    width: 100%;
    text-align: left;
}

.row{
    width: 100%;
    padding: 1em;
    float: left;
    display: flex;
    flex-direction: column;
}

input[type="text"]{
    width: 100%;
    float: left;
    height: 3em;
    border: 2px solid #dab572;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

input[type="date"]{
    width: 100%;
    float: left;
    height: 3em;
    border: 2px solid #dab572;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

input[type="submit"]{
    width: 60%;
    height: 3em;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #dab572;
    color: black;
    text-transform: uppercase;
}

input[type="submit"]:hover{
    background-color: #d4bb8c;
}

select{
    width: 100%;
    height: 3em;
    border: 2px solid #dab572;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.5em;
    float: left;
}

.order-details{
    width: 100%;
    text-align: left;
}

.order-row{
    width: 100%;
    padding: 1em;
    float: left;
    display: flex;
    flex-direction: column;
}

.message{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    border: 2px solid #dab572;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.submit{
    width: 100%;
    padding: 1em;
}

@media screen and (min-width: 720px) {

    .item{
        width: 47%;
        margin-right: 1em;
    }

    .products{
        padding-left: 4.5em; 
    }
}

@media screen and (min-width: 800px) {

    .btm-content{
        flex-direction: row;
    }

    .contact{
        width:50%;
        text-align: left;
    }

    .socials{
        width: 50%;
        text-align: left;
    }

    .contact p{
        width: 80%;
    }

    .row{
        width: 50%;
    }

    .order-row{
        width: 100%;
    }

}

@media screen and (max-width: 1020px){
    
    
    .left-nav a{
        position: fixed;
        top: 5.5vh;
        left: 1.5em;
        font-family: 'Great Vibes', cursive;
        font-size: 35px;
        color: black;
        font-weight: 400;
        text-decoration: none;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 15%;
        display: block;
        transition:  all .5s ease-in-out;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 80px;
        height: 80px;
    }

    .line{
        width: 30px;
        background-color: #dab572;
        height: 3px;
        margin-bottom: 5px;
        transition:  all .5s ease-in-out;
    }

    .line::before,
    .line::after{
        content: '';
        position: absolute;
        width: 30px;
        background-color: #dab572;
        height: 3px;
        margin-bottom: 5px;
        transition:  all .5s ease-in-out;
    }

    .line::before{
        transform: translateY(-8px);
        margin-left: -15px;
    }

    .line::after{
        transform: translateY(8px);
        margin-left: -15px;
    }

    .right-nav a{
        color: black;
    }

    .active a{
        color: #dab572;
    }

    .nav-links{
        position: fixed;
        background-color: white;
        top: 0;
        width: 101%;
        height: 100vh;
        display: flex;
        text-align: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-bottom: 2em;
    }

    .nav-active{
        transform: translateX(-12%);
    }
}


@media screen and (min-width: 1020px) {

    input[type="submit"]{
        width: 30%;
        height: 3em;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        background-color: #dab572;
        color: black;
        text-transform: uppercase;
    }

    .header{
        width: 100%;
        height: 70vh;
        background: url('img/order-bg.jpg');
        background-size: cover;
        background-position: 0% 30%;
    }


    .line-btm{
        width: 20%;
    }

    .item{
        width: 30%;
        margin-right: 1em;
    }

    .products{
        padding-left: 8em; 
    }

    .page-title h1{
        font-size: 60px;
        padding-left: 2em;
    }

    .order-info h3{
        font-size: 38px;
    }

    .order-info p{
        font-size: 25px;
    }

    .contact h4{
        font-size: 38px;
    }

    .socials h4{
        font-size: 38px;
    }

    .social-links{
        width: 30%;
    }

    .form-container h3{
        font-size: 38px;
    }

    .form-container p{
        font-size: 25px;
    }

    .row{
        width: 33%;
    }

    .order-row{
        width: 50%;
    }

}

@media screen and (max-width: 500px){

}

@media screen and (max-width: 500px){
    .left-nav a{
        position: fixed;
        top: 6.5vh;
        left: 1.5em;
        font-family: 'Great Vibes', cursive;
        font-size: 30px;
        color: black;
        font-weight: 400;
        text-decoration: none;
    }
}